version: "2.4"

services:
  notebook:
    image: martijnende/corsica2021
    ports:
      - "9000:9000"
    environment:
      - JUPYTER_TOKEN=corsica
    volumes:
      - ../tutorials/:/home/tutorials
      - corsica2021:/home

volumes:
  corsica2021:
